.header {
	width: 100%;
	.header-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		width: 100%;
		height: 82.5px;
		color: var(--white-color);
		position: sticky;
		top: 0;
		padding-left: 28px;
		padding-right: 28px;
		font-size: 20px;
		max-width: 1140px;
		 margin: auto;
		@media (max-width: 1200px) {
			max-width: 960px;
		}
		@media (max-width: 990px) {
			width: 100%;
			margin-left: auto;
			.navbar {
				display: none !important;
			}
			.header-hambuger {
				display: block !important;
			}
		}

		.title {
			font-weight: bold;

			a {
				color: var(--white-color);
				text-decoration: none;
			}
		}
		.navbar {
			display: flex;
			a {
				text-decoration: none;
				color: var(--white-color);
				margin: 0 20px;
				font-size: 16px;
				font-weight: bold;
				&:hover {
					color: var(--premium-hover);
				}
			}
		}
	}

	.header-hambuger {
		padding: 18px;
		max-width: 130px;
		position: absolute;
		right: 0;
		width: 100%; 
		cursor: pointer;
		display: none;
		float: right;
		user-select: none;
	}
	.header-menu-wrapper{
		position: absolute;
		top:82.5px;
		left:0px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-weight: bold;
		background-color: var(--primary-color);
		color: var(--white-color);
		
		background-color: --primary-color;
		box-shadow: 0 13px 15px #00000029;
		animation-duration: headerAni;
		animation-duration: 1s;
		.header-menu-contain{
			width: 100%;
			padding: 25px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}


.header:before {
	@media (min-width:990px) {
		z-index: 5;
		content: ' ';
		right: 0;
		top: 0;
		opacity: .2;
		left: 0;
		height: 100px;
		position: absolute;
		z-index: 1;
		background-position: center bottom;
		background-size: cover;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nIzUwMDBjYScgZmlsbC1vcGFjaXR5PScwLjknIGQ9J00wLDY0TDYwLDU4LjdDMTIwLDUzLDI0MCw0MywzNjAsODBDNDgwLDExNyw2MDAsMjAzLDcyMCwyNTAuN0M4NDAsMjk5LDk2MCwzMDksMTA4MCwzMTQuN0MxMjAwLDMyMCwxMzIwLDMyMCwxMzgwLDMyMEwxNDQwLDMyMEwxNDQwLDBMMTM4MCwwQzEzMjAsMCwxMjAwLDAsMTA4MCwwQzk2MCwwLDg0MCwwLDcyMCwwQzYwMCwwLDQ4MCwwLDM2MCwwQzI0MCwwLDEyMCwwLDYwLDBMMCwwWic+PC9wYXRoPjwvc3ZnPg==); 
	}
}
@keyframes headerAni {
	from {
		height: 0px;
	}
	to {
		height: 222px;
	}
}
