.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font); 
    background: linear-gradient(to bottom,#7a19f1,#332179);
    background-attachment: fixed;
}